<h2 align="center">Cart</h2>
<div class="cart">
    <div *ngIf="currentCart">
        <div class="list-cart-item" *ngFor="let cartItem of currentCart.cartItems let i = index"
            [class.active]="i == currentIndex" (click)="setActiveCartItem(cartItem, i)">
            <mat-card class="cart-item-card">
                <mat-card-title-group>
                    <mat-card-title>{{ cartItem.cartItemName }}</mat-card-title>
                    <mat-card-subtitle>{{ cartItem.cartItemType }}</mat-card-subtitle>
                    <img style="border-radius: 5px;" mat-card-lg-image
                        src="https://res.cloudinary.com/swiggy/image/upload/f_auto,q_auto,fl_lossy/oecyzqehfysmfzczqeov">
                </mat-card-title-group>
                <mat-card-content>
                    <h4>Description: {{ cartItem.cartItemDescription }}</h4>
                    <h4>Price: <b> ₹ {{ cartItem.cartItemPrice }} </b></h4>
                </mat-card-content>
                <mat-card-actions style="display: flex; justify-content: space-evenly;">
                    <button mat-raised-button color="warn"
                        (click)="removeFromCart(currentCart.cartId,cartItem.cartItemId)">
                        <mat-icon>remove_circle</mat-icon>
                    </button>
                    <span
                        style="border: 1px solid grey; width: 30px; height: 30px; display: flex; align-items: center; justify-content: center; border-radius: 5px;">{{
                        cartItem.cartItemQuantity }}</span>
                    <button mat-raised-button color="primary"
                        (click)="increaseQuantity(currentCart.cartId,cartItem.cartItemId)">
                        <mat-icon>add_circle</mat-icon>
                    </button>
                </mat-card-actions>
            </mat-card>
        </div>
    </div>

    <div *ngIf="!currentCart">
        <h2>Loading cart...</h2>
    </div>

    <div
        style="display: flex; flex-direction: column; min-height: 50vh; max-height: 60vh; justify-content: space-around;">
        <mat-card class="cart-details">
            <h3 align="center">Total Amount: <b> ₹ {{currentCart.totalAmount}}</b></h3>
            <button mat-raised-button color="primary" (click)="openDialog()">Proceed To Payment</button>
        </mat-card>
        <button mat-raised-button color="warn" (click)="removeAllFromCart(currentCart.cartId)">Clear Cart</button>
    </div>
</div>