<h3 mat-dialog-title>Payment</h3>

<mat-dialog-content style="height: 80%;">
    <form (ngSubmit)="onSubmit()" #myForm="ngForm">
        <mat-form-field appearance="outline" style="width: 100%;">
            <mat-label>Card Number</mat-label>
            <input type="text" name="cardNumber" id="cardNumber" matInput placeholder="1234 4321 1234 4321" required
                minlength="16" maxlength="16" pattern="[1-9]{1}[0-9]{15}" [(ngModel)]="payment.cardNumber"
                #cardNumber="ngModel">
            <div [hidden]="cardNumber.valid || cardNumber.untouched">Enter valid card
                number</div>
        </mat-form-field>

        <mat-form-field appearance="outline" style="width: 100%;">
            <mat-label>Card Holder Name</mat-label>
            <input type="text" name="cardHolderName" id="cardHolderName" matInput placeholder="Enter Card Holder Name"
                required pattern="^[a-zA-Z ]*$" [(ngModel)]="payment.cardHolderName" #cardHolderName="ngModel">
            <div [hidden]="cardHolderName.valid || cardHolderName.untouched">Enter valid card holder name</div>
        </mat-form-field>

        <mat-form-field appearance="outline" style="width: 25%;">
            <mat-label>Expiry Month</mat-label>
            <input type="text" id="mm" matInput placeholder="mm" required name="mm" min="1" max="12" minlength="2"
                maxlength="2" pattern="[0-9]{2}" [(ngModel)]="payment.mm" #mm="ngModel">
            <div [hidden]="mm.valid || mm.untouched">Enter valid month</div>
        </mat-form-field>
        <mat-form-field appearance="outline" style="width: 25%;">
            <mat-label>Expiry Year</mat-label>
            <input type="text" id="yy" matInput placeholder="yy" required name="yy" min="21" max="50" minlength="2"
                maxlength="2" pattern="[0-9]{2}" [(ngModel)]="payment.yy" #yy="ngModel">
            <div [hidden]="yy.valid || yy.untouched">Enter valid year</div>
        </mat-form-field>

        <mat-form-field appearance="outline" style="width: 50%;">
            <mat-label>CVV</mat-label>
            <input type="text" id="cvv" matInput placeholder="123" required name="cvv" required minlength="2"
                maxlength="3" pattern="[0-9]{3}" [(ngModel)]="payment.cvv" #cvv="ngModel">
            <div [hidden]="cvv.valid || cvv.untouched">Enter valid cvv</div>
        </mat-form-field>

        <mat-dialog-actions [align]="'center'">
            <button type="submit" mat-raised-button color="primary" mat-dialog-close
                [disabled]="!myForm.form.valid">Pay</button>
            <button mat-raised-button color="warn" mat-dialog-close>Cancel</button>
        </mat-dialog-actions>
    </form>
</mat-dialog-content>