<div class="adminhome">
  <mat-card class="mat-card">

    <img style="border-radius: 5px;width: 350px; height: 250px;" mat-card-image
      src="https://thumbs.dreamstime.com/b/shopping-stores-design-seen-outside-restaurant-red-yellow-awning-shopwindow-over-white-background-vector-111559754.jpg"
      alt="Restaurant Photo">

    <mat-card-content>

      <mat-card-title>Restaurant</mat-card-title>

      <mat-card-subtitle>Restaurant Management Tab</mat-card-subtitle>

    </mat-card-content>

    <mat-card-subtitle>Here you can manage restaurantss</mat-card-subtitle>


    <button mat-raised-button color="primary" routerLink="/restaurantOwners">Manage</button>

    <mat-card-actions style="display: flex; justify-content: center;">

      <!-- <button mat-raised-button color="primary" (click)="gotoListPage()">Manage</button> -->


    </mat-card-actions>

  </mat-card>


  <mat-card class="mat-card">

    <img style="border-radius: 5px;width: auto; height: 250px;" mat-card-image
      src="https://img.freepik.com/free-vector/coffee-shop-interior-illustration_74855-4386.jpg?w=2000"
      alt="Customer Photo">

    <mat-card-content>

      <mat-card-title>Customer</mat-card-title>

      <mat-card-subtitle>Customer Management Tab</mat-card-subtitle>

    </mat-card-content>

    <mat-card-subtitle>Here you can manage customers</mat-card-subtitle>

    <button mat-raised-button color="primary" routerLink="/customers">Manage</button>

    <!-- <a  mat-raised-button color="primary" href="customers">Manage</a> -->

    <mat-card-actions style="display: flex; justify-content: center;">

      <!-- <button mat-raised-button color="primary" (click)="gotoListPage()">Manage</button> -->


    </mat-card-actions>

  </mat-card>





</div>





















<!-- <mat-card class="example-card">
    <mat-card-header>
      <div mat-card-avatar class="example-header-image"></div>
      <mat-card-title>Shiba Inu</mat-card-title>
      <mat-card-subtitle>Dog Breed</mat-card-subtitle>
    </mat-card-header>
    <img mat-card-image src="https://material.angular.io/assets/img/examples/shiba2.jpg" alt="Photo of a Shiba Inu">
    <mat-card-content>
      
       <h2> Manage Customers Here </h2>
      
    </mat-card-content>
    <mat-card-actions>
      <button mat-button>Manage</button>
    </mat-card-actions>
  </mat-card>

  <span class="example-spacer"></span>

  <mat-card class="example-card">
    <mat-card-header>
      <div mat-card-avatar class="example-header-image"></div>
      <mat-card-title>Shiba Inu</mat-card-title>
      <mat-card-subtitle>Dog Breed</mat-card-subtitle>
    </mat-card-header>
    <img mat-card-image src="https://material.angular.io/assets/img/examples/shiba2.jpg" alt="Photo of a Shiba Inu">
    <mat-card-content>
      
       <h2> Manage Restaurants Here </h2>
      
    </mat-card-content>
    <mat-card-actions>
      <button mat-button>Manage</button>
    </mat-card-actions>
  </mat-card> -->